## Cricket Data Analysis

#### To get data, go to - https://www.espncricinfo.com/records/highest-career-batting-average-282910

- 1.Open Excel and go to Data tab.
- 2.Select "From Web" and enter the URL.
- 3.Import the table data, remove " - " and add duplicate entries and save the file as a CSV.

In [1]:
# Import Library

import pandas as pd

In [2]:
# Import data

df = pd.read_csv("CricketData.csv")
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [3]:
# Renaming column names

df = df.rename(columns = {
    'Mat': 'matches_played', 
    'NO': 'not_outs', 
    'HS': 'highest_inns_score',
    'BF': 'balls_faced',
    'SR': 'strike_rate'
})

In [4]:
df.head()

,Player,Span,matches_played,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1

In [5]:
# check null values

#df.isnull() - this will give true or false in the dataframe for nulls

df.isnull().any()  #this will give True/False if there is any null in the col

Player                False
Span                  False
matches_played        False
Inns                  False
not_outs              False
Runs                  False
highest_inns_score    False
Ave                   False
balls_faced            True
strike_rate            True
100                   False
50                    False
0                     False
4s                    False
6s                    False
dtype: bool

In [6]:
# get only rows with null values

df[df['balls_faced'].isna() == 1]

,Player,Span,matches_played,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,strike_rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258+,2
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107+,11
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3,51+,0

In [7]:
# Replace null with 0

df['strike_rate'] = df['strike_rate'].fillna(0)

In [8]:
df['balls_faced'] = df['balls_faced'].fillna(0)

In [9]:
# Drop duplicate values

df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
61    False
62    False
63    False
64    False
65    False
Length: 66, dtype: bool

In [10]:
# change option to show all rows

pd.set_option('display.max_rows',None)

In [11]:
df[df['Player'].duplicated() == 1]

,Player,Span,matches_played,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,strike_rate,100,50,0,4s,6s
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
51,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91
54,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [12]:
df[df['Player'].isin(['GS Sobers (WI)','JB Hobbs (ENG)','V Sehwag (ICC/IND)','V Kohli (IND)'])]

,Player,Span,matches_played,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,strike_rate,100,50,0,4s,6s
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
50,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91
51,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26
54,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [13]:
df = df.drop_duplicates()

In [14]:
df[df['Player'].isin(['GS Sobers (WI)','JB Hobbs (ENG)','V Sehwag (ICC/IND)','V Kohli (IND)'])]

,Player,Span,matches_played,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,strike_rate,100,50,0,4s,6s
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
50,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [15]:
# Split Span into Start and End date

df['Span'].str.split(pat = '-')

0     [1928, 1948]
1     [2022, 2023]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
5     [1924, 1935]
6     [1931, 1939]
7     [1955, 1968]
8     [1948, 1958]
9     [1927, 1947]
10    [1954, 1974]
12    [2000, 2015]
13    [2010, 2024]
14    [1908, 1930]
16    [1948, 1960]
17    [1937, 1955]
18    [1995, 2013]
19    [1921, 1929]
20    [2010, 2024]
21    [1968, 1973]
22    [1993, 1995]
23    [1970, 1984]
24    [1935, 1951]
25    [1989, 2013]
26    [1990, 2006]
27    [1976, 1993]
28    [1996, 2012]
29    [1998, 2010]
30    [2000, 2017]
31    [1995, 2012]
32    [1920, 1929]
33    [1992, 2002]
34    [2005, 2013]
35    [1994, 2015]
36    [1971, 1987]
37    [1985, 2004]
38    [1994, 2009]
39    [2004, 2018]
40    [1978, 1994]
41    [2019, 2024]
42    [1974, 1991]
43    [1937, 1957]
44    [1997, 2014]
45    [2012, 2024]
46    [1992, 2007]
47    [2018, 2024]
48    [1948, 1963]
49    [1911, 1928]
50    [2001, 2013]
52    [2019, 2021]
53    [2011, 2024]
55    [2004, 2015]
56    [1961, 1966]
57    [1929, 1949]
58    [1893, 1905]
59    [2001, 2013]
60    [1948, 1963]
61    [1965, 1981]
62    [2002, 2014]
63    [1924, 1934]
64    [1930, 1938]
65    [1928, 1934]
Name: Span, dtype: object

In [16]:
df['Start_year'] = df['Span'].str.split(pat = '-').str[0]
df['end_year'] = df['Span'].str.split(pat = '-').str[1]

df

,Player,Span,matches_played,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,strike_rate,100,50,0,4s,6s,Start_year,end_year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935
6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125+,4,1931,1939
7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591+,27,1955,1968
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0,0.00,15,19,6,258+,2,1948,1958
9,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491+,38.07,22,24,4,419+,27,1927,1947
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+,1954,1974
12,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015
13,SPD Smith (AUS),2010-2024,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024
14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8,1908,1930
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0.00,15,14,1,107+,11,1948,1960
17,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844+,39.34,19,33,5,358+,7,1937,1955
18,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013
19,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,55.00,178+,29.21,3,6,2,37+,2,1921,1929
20,KS Williamson (NZ),2010-2024,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024
21,CA Davis (WI),1968-1973,15,29,5,1301,183,54.20,665+,35.48,4,4,1,65+,1,1968,1973
22,VG Kambli (IND),1993-1995,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995
23,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079+,51.53,24,31,12,755,16,1970,1984
24,AD Nourse (SA),1935-1951,34,62,7,2960,231,53.81,108+,63.88,9,14,3,115+,6,1935,1951
25,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,53.78,29437+,54.04,51,68,14,2058+,69,1989,2013
26,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88,1990,2006
27,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788+,48,1976,1993
28,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012
29,Mohammad Yousuf (PAK),1998-2010,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010
30,Younis Khan (PAK),2000-2017,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017
31,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012
32,J Ryder (AUS),1920-1929,20,32,5,1394,201*,51.62,2035+,44.86,3,9,1,102+,3,1920,1929
33,A Flower (ZIM),1992-2002,63,112,19,4794,232*,51.54,10636,45.07,12,27,5,543,20,1992,2002
34,MEK Hussey (AUS),2005-2013,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013
35,S Chanderpaul (WI),1994-2015,164,280,49,11867,203*,51.37,27395,43.31,30,66,15,1285,36,1994,2015
36,SM Gavaskar (IND),1971-1987,125,214,16,10122,236*,51.12,14184+,43.35,34,45,12,908+,26,1971,1987
37,SR Waugh (AUS),1985-2004,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004
38,ML Hayden (AUS),1994-2009,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009
39,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64,2004,2018
40,AR Border (AUS),1978-1994,156,265,44,11174,205,50.56,27002+,41.09,27,63,11,1161,28,1978,1994
41,DJ Mitchell (NZ),2019-2024,23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024
42,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10,952+,84,1974,1991
43,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731+,38.81,17,28,10,342+,3,1937,1957
44,DPMD Jayawardene (SL),1997-2014,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014
45,JE Root (ENG),2012-2024,140,257,21,11736,254,49.72,20762,56.52,31,61,12,1280,44,2012,2024
46,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007
47,M Labuschagne (AUS),2018-2024,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024
48,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,488+,40.16,9,22,11,240+,11,1948,1963
49,CP Mead (ENG),1911-1928,17,26,2,1185,182*,49.37,619+,30.04,4,3,3,38+,0,1911,1928
50,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013
52,Abid Ali (PAK),2019-2021,16,26,2,1180,215*,49.16,2445,48.26,4,3,2,148,5,2019,2021
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26,2011,2024
55,MJ Clarke (AUS),2004-2015,115,198,22,8643,329*,49.10,15456,55.92,28,27,9,978,39,2004,2015
56,KC Bland (SA),1961-1966,21,39,5,1669,144*,49.08,885+,37.74,3,9,2,123+,20,1961,1966
57,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3,41+,1,1929,1949
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,0,0.00,5,6,3,51+,0,1893,1905
59,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013
60,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799+,43.74,21,24,7,427+,1,1948,1963
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [17]:
# drop span col

df = df.drop(['Span'], axis=1)

In [18]:
# SPlit the country from the player

df['Player'].str.split(pat = '(')

0             [DG Bradman , AUS)]
1               [HC Brook , ENG)]
2               [AC Voges , AUS)]
3              [RG Pollock , SA)]
4              [GA Headley , WI)]
5            [H Sutcliffe , ENG)]
6              [E Paynter , ENG)]
7          [KF Barrington , ENG)]
8               [ED Weekes , WI)]
9             [WR Hammond , ENG)]
10              [GS Sobers , WI)]
12          [KC Sangakkara , SL)]
13             [SPD Smith , AUS)]
14              [JB Hobbs , ENG)]
16             [CL Walcott , WI)]
17              [L Hutton , ENG)]
18          [JH Kallis , ICC/SA)]
19          [GE Tyldesley , ENG)]
20          [KS Williamson , NZ)]
21               [CA Davis , WI)]
22             [VG Kambli , IND)]
23           [GS Chappell , AUS)]
24              [AD Nourse , SA)]
25          [SR Tendulkar , IND)]
26            [BC Lara , ICC/WI)]
27         [Javed Miandad , PAK)]
28          [R Dravid , ICC/IND)]
29       [Mohammad Yousuf , PAK)]
30           [Younis Khan , PAK)]
31            [RT Ponting , AUS)]
32               [J Ryder , AUS)]
33              [A Flower , ZIM)]
34            [MEK Hussey , AUS)]
35          [S Chanderpaul , WI)]
36           [SM Gavaskar , IND)]
37              [SR Waugh , AUS)]
38             [ML Hayden , AUS)]
39         [AB de Villiers , SA)]
40             [AR Border , AUS)]
41            [DJ Mitchell , NZ)]
42           [IVA Richards , WI)]
43           [DCS Compton , ENG)]
44       [DPMD Jayawardene , SL)]
45               [JE Root , ENG)]
46    [Inzamam-ul-Haq , ICC/PAK)]
47         [M Labuschagne , AUS)]
48            [FMM Worrell , WI)]
49               [CP Mead , ENG)]
50          [V Sehwag , ICC/IND)]
52              [Abid Ali , PAK)]
53               [V Kohli , IND)]
55             [MJ Clarke , AUS)]
56               [KC Bland , SA)]
57             [B Mitchell , SA)]
58        [Hon.FS Jackson , ENG)]
59         [TT Samaraweera , SL)]
60             [RN Harvey , AUS)]
61            [KD Walters , AUS)]
62           [GC Smith , ICC/SA)]
63           [WH Ponsford , AUS)]
64             [SJ McCabe , AUS)]
65            [DR Jardine , ENG)]
Name: Player, dtype: object

In [19]:
df['Country'] = df['Player'].str.split(pat = '(').str[1]

In [20]:
df['Country'] = df['Country'].str.split(pat = ')').str[0]

In [21]:
df['Player'] =  df['Player'].str.split(pat = '(').str[0]

df['Player']

0           DG Bradman
1             HC Brook
2             AC Voges
3           RG Pollock
4           GA Headley
5          H Sutcliffe
6            E Paynter
7        KF Barrington
8            ED Weekes
9           WR Hammond
10           GS Sobers
12       KC Sangakkara
13           SPD Smith
14            JB Hobbs
16          CL Walcott
17            L Hutton
18           JH Kallis
19        GE Tyldesley
20       KS Williamson
21            CA Davis
22           VG Kambli
23         GS Chappell
24           AD Nourse
25        SR Tendulkar
26             BC Lara
27       Javed Miandad
28            R Dravid
29     Mohammad Yousuf
30         Younis Khan
31          RT Ponting
32             J Ryder
33            A Flower
34          MEK Hussey
35       S Chanderpaul
36         SM Gavaskar
37            SR Waugh
38           ML Hayden
39      AB de Villiers
40           AR Border
41         DJ Mitchell
42        IVA Richards
43         DCS Compton
44    DPMD Jayawardene
45             JE Root
46      Inzamam-ul-Haq
47       M Labuschagne
48         FMM Worrell
49             CP Mead
50            V Sehwag
52            Abid Ali
53             V Kohli
55           MJ Clarke
56            KC Bland
57          B Mitchell
58      Hon.FS Jackson
59      TT Samaraweera
60           RN Harvey
61          KD Walters
62            GC Smith
63         WH Ponsford
64           SJ McCabe
65          DR Jardine
Name: Player, dtype: object

In [22]:
# remove */+ from cols

df['highest_inns_score'] = df['highest_inns_score'].str.split(pat = '*').str[0]

In [23]:
df['balls_faced'] = df['balls_faced'].str.split(pat = '+').str[0]
df['4s'] = df['4s'].str.split(pat = '+').str[0]
df['6s'] = df['6s'].str.split(pat = '+').str[0]

In [24]:
# change data types

df.dtypes

Player                 object
matches_played          int64
Inns                    int64
not_outs                int64
Runs                    int64
highest_inns_score     object
Ave                   float64
balls_faced            object
strike_rate           float64
100                     int64
50                      int64
0                       int64
4s                     object
6s                     object
Start_year             object
end_year               object
Country                object
dtype: object

In [25]:
# set numeric cols as int

df =  df.astype({'highest_inns_score':'int','Start_year':'int','end_year':'int','4s': 'int','6s':'int','balls_faced': 'int'})

ValueError: cannot convert float NaN to integer: Error while type casting for column 'balls_faced'

In [ ]:
## When we removed the */+ from cols, NaN was introduced in 'balls_faced' as it was previously 0 and we did string split

In [29]:
df['balls_faced'] = df['balls_faced'].fillna(0)

In [30]:
df =  df.astype({'highest_inns_score':'int','Start_year':'int','end_year':'int','4s': 'int','6s':'int','balls_faced': 'int'})

In [31]:
df.dtypes

Player                 object
matches_played          int64
Inns                    int64
not_outs                int64
Runs                    int64
highest_inns_score      int32
Ave                   float64
balls_faced             int32
strike_rate           float64
100                     int64
50                      int64
0                       int64
4s                      int32
6s                      int32
Start_year              int32
end_year                int32
Country                object
dtype: object

In [32]:
# Build out career length column

df['career_length'] = df['end_year'] - df['Start_year']

In [33]:
df

,Player,matches_played,Inns,not_outs,Runs,highest_inns_score,Ave,balls_faced,strike_rate,100,50,0,4s,6s,Start_year,end_year,Country,career_length
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,20
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG,1
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,7
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,24
5,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG,11
6,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG,8
7,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG,13
8,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,WI,10
9,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG,20
10,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,WI,20
12,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL,15
13,SPD Smith,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS,14
14,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG,22
16,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,WI,12
17,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG,18
18,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA,18
19,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG,8
20,KS Williamson,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,NZ,14
21,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,WI,5
22,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND,2
23,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS,14
24,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA,16
25,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,IND,24
26,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI,16
27,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK,17
28,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND,16
29,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK,12
30,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK,17
31,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS,17
32,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS,9
33,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM,10
34,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS,8
35,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI,21
36,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,IND,16
37,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS,19
38,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS,15
39,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA,14
40,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS,16
41,DJ Mitchell,23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,NZ,5
42,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,WI,17
43,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG,20
44,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL,17
45,JE Root,140,257,21,11736,254,49.72,20762,56.52,31,61,12,1280,44,2012,2024,ENG,12
46,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK,15
47,M Labuschagne,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS,6
48,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI,15
49,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG,17
50,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND,12
52,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK,2
53,V Kohli,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,IND,13
55,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS,11
56,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,SA,5
57,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA,20
58,Hon.FS Jackson,20,33,4,1415,144,48.79,0,0.00,5,6,3,51,0,1893,1905,ENG,12
59,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL,12
60,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS,15
61,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS,16
62,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
63,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS,10
64,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS,8
65,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG,6

In [34]:
# Q1: What is the average career length?

df['career_length'].mean()

13.193548387096774

In [35]:
# Q2: Average Strike rate of cricketers who's career length > 10yrs

df[df['career_length'] > 10]['strike_rate'].mean()

47.94681818181819

In [36]:
# Q3: Find number of cricketers who played before 1960

df[df['Start_year'] < 1960]['Player'].count()

23

In [37]:
# Q4: Max highest innings by country

df.groupby('Country')['highest_inns_score'].max()

Country
AUS        380
ENG        364
ICC/IND    319
ICC/PAK    329
ICC/SA     277
ICC/WI     400
IND        254
NZ         251
PAK        313
SA         278
SL         374
WI         365
ZIM        232
Name: highest_inns_score, dtype: int32

In [38]:
# Q5: Hundreds, fifties and ducks avg by country

df.groupby('Country')[['100','50','0']].mean()

               100         50          0
Country
AUS      20.625000  28.375000   8.562500
ENG      12.384615  20.846154   4.307692
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.500000  10.750000
NZ       18.500000  22.000000   6.000000
PAK      21.250000  28.000000   9.500000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000